# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/uodybfyn/vnapi"
PassengerBaseURI "/"
PassengerNodejs "/home/uodybfyn/nodevenv/vnapi/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END