@font-face {
  font-family: 'CASIO-ESP-Display-Normal-Font';
  src:  url('fonts/CASIO-ESP-Display-Normal-Font.eot?39i6he');
  src:  url('fonts/CASIO-ESP-Display-Normal-Font.eot?39i6he#iefix') format('embedded-opentype'),
    url('fonts/CASIO-ESP-Display-Normal-Font.ttf?39i6he') format('truetype'),
    url('fonts/CASIO-ESP-Display-Normal-Font.woff?39i6he') format('woff'),
    url('fonts/CASIO-ESP-Display-Normal-Font.svg?39i6he#CASIO-ESP-Display-Normal-Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-esp-"], [class*=" i-esp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CASIO-ESP-Display-Normal-Font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-esp-04-UN:before {
  content: "\e004";
}
.i-esp-05-UN:before {
  content: "\e005";
}
.i-esp-06-UN:before {
  content: "\e006";
}
.i-esp-07-UN:before {
  content: "\e007";
}
.i-esp-08-UN:before {
  content: "\e008";
}
.i-esp-09-UN:before {
  content: "\e009";
}
.i-esp-00-UN:before {
  content: "\e000";
}
.i-esp-0A-UN:before {
  content: "\e00a";
}
.i-esp-0B-UN:before {
  content: "\e00b";
}
.i-esp-0C-UN:before {
  content: "\e00c";
}
.i-esp-0D-UN:before {
  content: "\e00d";
}
.i-esp-0E-UN:before {
  content: "\e00e";
}
.i-esp-01-UN:before {
  content: "\e001";
}
.i-esp-02-UN:before {
  content: "\e002";
}
.i-esp-03-UN:before {
  content: "\e003";
}
.i-esp-3A-UN:before {
  content: "\e03a";
}
.i-esp-3B-UN:before {
  content: "\e03b";
}
.i-esp-3C-UN:before {
  content: "\e03c";
}
.i-esp-3D-UN:before {
  content: "\e03d";
}
.i-esp-3E-UN:before {
  content: "\e03e";
}
.i-esp-3F-UN:before {
  content: "\e03f";
}
.i-esp-4A-UN:before {
  content: "\e04a";
}
.i-esp-4B-UN:before {
  content: "\e04b";
}
.i-esp-4C-UN:before {
  content: "\e04c";
}
.i-esp-4D-UN:before {
  content: "\e04d";
}
.i-esp-4E-UN:before {
  content: "\e04e";
}
.i-esp-4F-UN:before {
  content: "\e04f";
}
.i-esp-5A-UN:before {
  content: "\e05a";
}
.i-esp-5B-UN:before {
  content: "\e05b";
}
.i-esp-5C-UN:before {
  content: "\e05c";
}
.i-esp-5D-UN:before {
  content: "\e05d";
}
.i-esp-5E-UN:before {
  content: "\e05e";
}
.i-esp-5F-UN:before {
  content: "\e05f";
}
.i-esp-6A-UN:before {
  content: "\e06a";
}
.i-esp-6B-UN:before {
  content: "\e06b";
}
.i-esp-6C-UN:before {
  content: "\e06c";
}
.i-esp-6D-UN:before {
  content: "\e06d";
}
.i-esp-6E-UN:before {
  content: "\e06e";
}
.i-esp-6F-UN:before {
  content: "\e06f";
}
.i-esp-7A-UN:before {
  content: "\e07a";
}
.i-esp-7B-UN:before {
  content: "\e07b";
}
.i-esp-7C-UN:before {
  content: "\e07c";
}
.i-esp-7D-UN:before {
  content: "\e07d";
}
.i-esp-7E-UN:before {
  content: "\e07e";
}
.i-esp-7F-UN:before {
  content: "\e07f";
}
.i-esp-8A-UN:before {
  content: "\e08a";
}
.i-esp-8B-UN:before {
  content: "\e08b";
}
.i-esp-8C-UN:before {
  content: "\e08c";
}
.i-esp-8D-UN:before {
  content: "\e08d";
}
.i-esp-8E-UN:before {
  content: "\e08e";
}
.i-esp-8F-UN:before {
  content: "\e08f";
}
.i-esp-9A-UN:before {
  content: "\e09a";
}
.i-esp-9B-UN:before {
  content: "\e09b";
}
.i-esp-9C-UN:before {
  content: "\e09c";
}
.i-esp-9D-UN:before {
  content: "\e09d";
}
.i-esp-9E-UN:before {
  content: "\e09e";
}
.i-esp-9F-UN:before {
  content: "\e09f";
}
.i-esp-20-UN:before {
  content: "\e020";
}
.i-esp-21-UN:before {
  content: "\e021";
}
.i-esp-22-UN:before {
  content: "\e022";
}
.i-esp-23-UN:before {
  content: "\e023";
}
.i-esp-24-UN:before {
  content: "\e024";
}
.i-esp-25-UN:before {
  content: "\e025";
}
.i-esp-26-UN:before {
  content: "\e026";
}
.i-esp-27-UN:before {
  content: "\e027";
}
.i-esp-28-UN:before {
  content: "\e028";
}
.i-esp-29-UN:before {
  content: "\e029";
}
.i-esp-30-UN:before {
  content: "\e030";
}
.i-esp-31-UN:before {
  content: "\e031";
}
.i-esp-32-UN:before {
  content: "\e032";
}
.i-esp-33-UN:before {
  content: "\e033";
}
.i-esp-34-UN:before {
  content: "\e034";
}
.i-esp-35-UN:before {
  content: "\e035";
}
.i-esp-36-UN:before {
  content: "\e036";
}
.i-esp-37-UN:before {
  content: "\e037";
}
.i-esp-38-UN:before {
  content: "\e038";
}
.i-esp-39-UN:before {
  content: "\e039";
}
.i-esp-40-UN:before {
  content: "\e040";
}
.i-esp-41-UN:before {
  content: "\e041";
}
.i-esp-42-UN:before {
  content: "\e042";
}
.i-esp-43-UN:before {
  content: "\e043";
}
.i-esp-44-UN:before {
  content: "\e044";
}
.i-esp-45-UN:before {
  content: "\e045";
}
.i-esp-46-UN:before {
  content: "\e046";
}
.i-esp-47-UN:before {
  content: "\e047";
}
.i-esp-48-UN:before {
  content: "\e048";
}
.i-esp-49-UN:before {
  content: "\e049";
}
.i-esp-50-UN:before {
  content: "\e050";
}
.i-esp-51-UN:before {
  content: "\e051";
}
.i-esp-52-UN:before {
  content: "\e052";
}
.i-esp-53-UN:before {
  content: "\e053";
}
.i-esp-54-UN:before {
  content: "\e054";
}
.i-esp-55-UN:before {
  content: "\e055";
}
.i-esp-56-UN:before {
  content: "\e056";
}
.i-esp-57-UN:before {
  content: "\e057";
}
.i-esp-58-UN:before {
  content: "\e058";
}
.i-esp-59-UN:before {
  content: "\e059";
}
.i-esp-60-UN:before {
  content: "\e060";
}
.i-esp-61-UN:before {
  content: "\e061";
}
.i-esp-62-UN:before {
  content: "\e062";
}
.i-esp-63-UN:before {
  content: "\e063";
}
.i-esp-64-UN:before {
  content: "\e064";
}
.i-esp-65-UN:before {
  content: "\e065";
}
.i-esp-66-UN:before {
  content: "\e066";
}
.i-esp-67-UN:before {
  content: "\e067";
}
.i-esp-68-UN:before {
  content: "\e068";
}
.i-esp-69-UN:before {
  content: "\e069";
}
.i-esp-70-UN:before {
  content: "\e070";
}
.i-esp-71-UN:before {
  content: "\e071";
}
.i-esp-72-UN:before {
  content: "\e072";
}
.i-esp-73-UN:before {
  content: "\e073";
}
.i-esp-74-UN:before {
  content: "\e074";
}
.i-esp-75-UN:before {
  content: "\e075";
}
.i-esp-76-UN:before {
  content: "\e076";
}
.i-esp-77-UN:before {
  content: "\e077";
}
.i-esp-78-UN:before {
  content: "\e078";
}
.i-esp-79-UN:before {
  content: "\e079";
}
.i-esp-80-UN:before {
  content: "\e080";
}
.i-esp-81-UN:before {
  content: "\e081";
}
.i-esp-82-UN:before {
  content: "\e082";
}
.i-esp-83-UN:before {
  content: "\e083";
}
.i-esp-84-UN:before {
  content: "\e084";
}
.i-esp-85-UN:before {
  content: "\e085";
}
.i-esp-86-UN:before {
  content: "\e086";
}
.i-esp-87-UN:before {
  content: "\e087";
}
.i-esp-88-UN:before {
  content: "\e088";
}
.i-esp-89-UN:before {
  content: "\e089";
}
.i-esp-90-UN:before {
  content: "\e090";
}
.i-esp-91-UN:before {
  content: "\e091";
}
.i-esp-92-UN:before {
  content: "\e092";
}
.i-esp-93-UN:before {
  content: "\e093";
}
.i-esp-94-UN:before {
  content: "\e094";
}
.i-esp-95-UN:before {
  content: "\e095";
}
.i-esp-96-UN:before {
  content: "\e096";
}
.i-esp-97-UN:before {
  content: "\e097";
}
.i-esp-98-UN:before {
  content: "\e098";
}
.i-esp-99-UN:before {
  content: "\e099";
}
.i-esp-A0-UN:before {
  content: "\e0a0";
}
.i-esp-A1-UN:before {
  content: "\e0a1";
}
.i-esp-A2-UN:before {
  content: "\e0a2";
}
.i-esp-A3-UN:before {
  content: "\e0a3";
}
.i-esp-A4-UN:before {
  content: "\e0a4";
}
.i-esp-A5-UN:before {
  content: "\e0a5";
}
.i-esp-A6-UN:before {
  content: "\e0a6";
}
.i-esp-A7-UN:before {
  content: "\e0a7";
}
.i-esp-A8-UN:before {
  content: "\e0a8";
}
.i-esp-A9-UN:before {
  content: "\e0a9";
}
.i-esp-AA-UN:before {
  content: "\e0aa";
}
.i-esp-AB-UN:before {
  content: "\e0ab";
}
.i-esp-AC-UN:before {
  content: "\e0ac";
}
.i-esp-AD-UN:before {
  content: "\e0ad";
}
.i-esp-AE-UN:before {
  content: "\e0ae";
}
.i-esp-AF-UN:before {
  content: "\e0af";
}
.i-esp-B0-UN:before {
  content: "\e0b0";
}
.i-esp-B1-UN:before {
  content: "\e0b1";
}
.i-esp-B2-UN:before {
  content: "\e0b2";
}
.i-esp-B3-UN:before {
  content: "\e0b3";
}
.i-esp-B4-UN:before {
  content: "\e0b4";
}
.i-esp-B5-UN:before {
  content: "\e0b5";
}
.i-esp-B6-UN:before {
  content: "\e0b6";
}
.i-esp-B7-UN:before {
  content: "\e0b7";
}
.i-esp-B8-UN:before {
  content: "\e0b8";
}
.i-esp-B9-UN:before {
  content: "\e0b9";
}
.i-esp-BA-UN:before {
  content: "\e0ba";
}
.i-esp-BB-UN:before {
  content: "\e0bb";
}
.i-esp-BC-UN:before {
  content: "\e0bc";
}
.i-esp-BD-UN:before {
  content: "\e0bd";
}
.i-esp-BE-UN:before {
  content: "\e0be";
}
.i-esp-BF-UN:before {
  content: "\e0bf";
}
.i-esp-C0-UN:before {
  content: "\e0c0";
}
.i-esp-C1-UN:before {
  content: "\e0c1";
}
.i-esp-C2-UN:before {
  content: "\e0c2";
}
.i-esp-C3-UN:before {
  content: "\e0c3";
}
.i-esp-C4-UN:before {
  content: "\e0c4";
}
.i-esp-C5-UN:before {
  content: "\e0c5";
}
.i-esp-C6-UN:before {
  content: "\e0c6";
}
.i-esp-C7-UN:before {
  content: "\e0c7";
}
.i-esp-C8-UN:before {
  content: "\e0c8";
}
.i-esp-C9-UN:before {
  content: "\e0c9";
}
.i-esp-CA-UN:before {
  content: "\e0ca";
}
.i-esp-CB-UN:before {
  content: "\e0cb";
}
.i-esp-CC-UN:before {
  content: "\e0cc";
}
.i-esp-CD-UN:before {
  content: "\e0cd";
}
.i-esp-CE-UN:before {
  content: "\e0ce";
}
.i-esp-CF-UN:before {
  content: "\e0cf";
}
.i-esp-2A-UN:before {
  content: "\e02a";
}
.i-esp-2B-UN:before {
  content: "\e02b";
}
.i-esp-2C-UN:before {
  content: "\e02c";
}
.i-esp-2D-UN:before {
  content: "\e02d";
}
.i-esp-2E-UN:before {
  content: "\e02e";
}
.i-esp-2F-UN:before {
  content: "\e02f";
}
.i-esp-1D5D8-UN-Input:before {
  content: "\1d5d8";
}
.i-esp-1D5D9-UN-Input:before {
  content: "\1d5d9";
}
.i-esp-1D5E3-UN-Input:before {
  content: "\1d5e3";
}
.i-esp-1D6FC-UN-Input:before {
  content: "\1d6fc";
}
.i-esp-1D6FE-UN-Input:before {
  content: "\1d6fe";
}
.i-esp-1D18-UN-Input:before {
  content: "\1d18";
}
.i-esp-1D48A-UN-Input:before {
  content: "\1d48a";
}
.i-esp-1D70B-UN-Input:before {
  content: "\1d70b";
}
.i-esp-1D70E-UN-Input:before {
  content: "\1d70e";
}
.i-esp-1D486-UN-Input:before {
  content: "\1d486";
}
.i-esp-1D700-UN-Input:before {
  content: "\1d700";
}
.i-esp-1D703-UN-Input:before {
  content: "\1d703";
}
.i-esp-1D706-UN-Input:before {
  content: "\1d706";
}
.i-esp-1D707-UN-Input:before {
  content: "\1d707";
}
.i-esp-1D719-UN-Input:before {
  content: "\1d719";
}
.i-esp-2B3-UN-Input:before {
  content: "\2b3";
}
.i-esp-2B-UN-Input:before {
  content: "\2b";
}
.i-esp-2C-UN-Input:before {
  content: "\2c";
}
.i-esp-2D-UN-Input:before {
  content: "\2d";
}
.i-esp-2E-UN-Input:before {
  content: "\2e";
}
.i-esp-2F-UN-Input:before {
  content: "\2f";
}
.i-esp-3A-UN-Input:before {
  content: "\3a";
}
.i-esp-3B-UN-Input:before {
  content: "\3b";
}
.i-esp-3C-UN-Input:before {
  content: "\3c";
}
.i-esp-3D-UN-Input:before {
  content: "\3d";
}
.i-esp-3E-UN-Input:before {
  content: "\3e";
}
.i-esp-3F-UN-Input:before {
  content: "\3f";
}
.i-esp-4A-UN-Input:before {
  content: "\4a";
}
.i-esp-4B-UN-Input:before {
  content: "\4b";
}
.i-esp-4C-UN-Input:before {
  content: "\4c";
}
.i-esp-4D-UN-Input:before {
  content: "\4d";
}
.i-esp-4E-UN-Input:before {
  content: "\4e";
}
.i-esp-4F-UN-Input:before {
  content: "\4f";
}
.i-esp-5A-UN-Input:before {
  content: "\5a";
}
.i-esp-5B-UN-Input:before {
  content: "\5b";
}
.i-esp-5D-UN-Input:before {
  content: "\5d";
}
.i-esp-5E-UN-Input:before {
  content: "\5e";
}
.i-esp-5F-UN-Input:before {
  content: "\5f";
}
.i-esp-6A-UN-Input:before {
  content: "\6a";
}
.i-esp-6B-UN-Input:before {
  content: "\6b";
}
.i-esp-6C-UN-Input:before {
  content: "\6c";
}
.i-esp-6D-UN-Input:before {
  content: "\6d";
}
.i-esp-6E-UN-Input:before {
  content: "\6e";
}
.i-esp-6F-UN-Input:before {
  content: "\6f";
}
.i-esp-7A-UN-Input:before {
  content: "\7a";
}
.i-esp-7B-UN-Input:before {
  content: "\7b";
}
.i-esp-7C-UN-Input:before {
  content: "\7c";
}
.i-esp-7D-UN-Input:before {
  content: "\7d";
}
.i-esp-7E-UN-Input:before {
  content: "\7e";
}
.i-esp-20-UN-Input:before {
  content: "\20";
}
.i-esp-21D2-UN-Input:before {
  content: "\21d2";
}
.i-esp-21-UN-Input:before {
  content: "\21";
}
.i-esp-22C5-UN-Input:before {
  content: "\22c5";
}
.i-esp-22-UN-Input:before {
  content: "\22";
}
.i-esp-23-UN-Input:before {
  content: "\23";
}
.i-esp-25AB-UN-Input:before {
  content: "\25ab";
}
.i-esp-25AE-UN-Input:before {
  content: "\25ae";
}
.i-esp-25AF-UN-Input:before {
  content: "\25af";
}
.i-esp-25B6-UN-Input:before {
  content: "\25b6";
}
.i-esp-25B7-UN-Input:before {
  content: "\25b7";
}
.i-esp-25C0-UN-Input:before {
  content: "\25c0";
}
.i-esp-25-UN-Input:before {
  content: "\25";
}
.i-esp-27-UN-Input:before {
  content: "\27";
}
.i-esp-28-UN-Input:before {
  content: "\28";
}
.i-esp-29-UN-Input:before {
  content: "\29";
}
.i-esp-30-UN-Input:before {
  content: "\30";
}
.i-esp-31-UN-Input:before {
  content: "\31";
}
.i-esp-32-UN-Input:before {
  content: "\32";
}
.i-esp-33-UN-Input:before {
  content: "\33";
}
.i-esp-34-UN-Input:before {
  content: "\34";
}
.i-esp-35-UN-Input:before {
  content: "\35";
}
.i-esp-36-UN-Input:before {
  content: "\36";
}
.i-esp-37-UN-Input:before {
  content: "\37";
}
.i-esp-38-UN-Input:before {
  content: "\38";
}
.i-esp-39-UN-Input:before {
  content: "\39";
}
.i-esp-40-UN-Input:before {
  content: "\40";
}
.i-esp-41-UN-Input:before {
  content: "\41";
}
.i-esp-42-UN-Input:before {
  content: "\42";
}
.i-esp-43-UN-Input:before {
  content: "\43";
}
.i-esp-44-UN-Input:before {
  content: "\44";
}
.i-esp-45-UN-Input:before {
  content: "\45";
}
.i-esp-46-UN-Input:before {
  content: "\46";
}
.i-esp-47-UN-Input:before {
  content: "\47";
}
.i-esp-48-UN-Input:before {
  content: "\48";
}
.i-esp-49-UN-Input:before {
  content: "\49";
}
.i-esp-50-UN-Input:before {
  content: "\50";
}
.i-esp-51-UN-Input:before {
  content: "\51";
}
.i-esp-52-UN-Input:before {
  content: "\52";
}
.i-esp-53-UN-Input:before {
  content: "\53";
}
.i-esp-54-UN-Input:before {
  content: "\54";
}
.i-esp-55-UN-Input:before {
  content: "\55";
}
.i-esp-56-UN-Input:before {
  content: "\56";
}
.i-esp-57-UN-Input:before {
  content: "\57";
}
.i-esp-58-UN-Input:before {
  content: "\58";
}
.i-esp-59-UN-Input:before {
  content: "\59";
}
.i-esp-61-UN-Input:before {
  content: "\61";
}
.i-esp-62-UN-Input:before {
  content: "\62";
}
.i-esp-63-UN-Input:before {
  content: "\63";
}
.i-esp-64-UN-Input:before {
  content: "\64";
}
.i-esp-65-UN-Input:before {
  content: "\65";
}
.i-esp-66-UN-Input:before {
  content: "\66";
}
.i-esp-67-UN-Input:before {
  content: "\67";
}
.i-esp-68-UN-Input:before {
  content: "\68";
}
.i-esp-69-UN-Input:before {
  content: "\69";
}
.i-esp-70-UN-Input:before {
  content: "\70";
}
.i-esp-71-UN-Input:before {
  content: "\71";
}
.i-esp-72-UN-Input:before {
  content: "\72";
}
.i-esp-73-UN-Input:before {
  content: "\73";
}
.i-esp-74-UN-Input:before {
  content: "\74";
}
.i-esp-75-UN-Input:before {
  content: "\75";
}
.i-esp-76-UN-Input:before {
  content: "\76";
}
.i-esp-77-UN-Input:before {
  content: "\77";
}
.i-esp-78-UN-Input:before {
  content: "\78";
}
.i-esp-79-UN-Input:before {
  content: "\79";
}
.i-esp-208D-UN-Input:before {
  content: "\208d";
}
.i-esp-208E-UN-Input:before {
  content: "\208e";
}
.i-esp-210F-UN-Input:before {
  content: "\210f";
}
.i-esp-220F-UN-Input:before {
  content: "\220f";
}
.i-esp-221A-UN-Input:before {
  content: "\221a";
}
.i-esp-222B-UN-Input:before {
  content: "\222b";
}
.i-esp-231F-UN-Input:before {
  content: "\231f";
}
.i-esp-251C-UN-Input:before {
  content: "\251c";
}
.i-esp-274-UN-Input:before {
  content: "\274";
}
.i-esp-299-UN-Input:before {
  content: "\299";
}
.i-esp-2070-UN-Input:before {
  content: "\2070";
}
.i-esp-2074-UN-Input:before {
  content: "\2074";
}
.i-esp-2075-UN-Input:before {
  content: "\2075";
}
.i-esp-2076-UN-Input:before {
  content: "\2076";
}
.i-esp-2077-UN-Input:before {
  content: "\2077";
}
.i-esp-2078-UN-Input:before {
  content: "\2078";
}
.i-esp-2079-UN-Input:before {
  content: "\2079";
}
.i-esp-2080-UN-Input:before {
  content: "\2080";
}
.i-esp-2081-UN-Input:before {
  content: "\2081";
}
.i-esp-2082-UN-Input:before {
  content: "\2082";
}
.i-esp-2083-UN-Input:before {
  content: "\2083";
}
.i-esp-2099-UN-Input:before {
  content: "\2099";
}
.i-esp-2113-UN-Input:before {
  content: "\2113";
}
.i-esp-2192-UN-Input:before {
  content: "\2192";
}
.i-esp-2211-UN-Input:before {
  content: "\2211";
}
.i-esp-2212-UN-Input:before {
  content: "\2212";
}
.i-esp-2220-UN-Input:before {
  content: "\2220";
}
.i-esp-2260-UN-Input:before {
  content: "\2260";
}
.i-esp-2264-UN-Input:before {
  content: "\2264";
}
.i-esp-2265-UN-Input:before {
  content: "\2265";
}
.i-esp-A1-UN-Input:before {
  content: "\a1";
}
.i-esp-A730-UN-Input:before {
  content: "\a730";
}
.i-esp-B0-UN-Input:before {
  content: "\b0";
}
.i-esp-B2-UN-Input:before {
  content: "\b2";
}
.i-esp-B3-UN-Input:before {
  content: "\b3";
}
.i-esp-B9-UN-Input:before {
  content: "\b9";
}
.i-esp-BF-UN-Input:before {
  content: "\bf";
}
.i-esp-D3-UN-Input:before {
  content: "\d3";
}
.i-esp-D7-UN-Input:before {
  content: "\d7";
}
.i-esp-E0-UN-Input:before {
  content: "\e0";
}
.i-esp-E1-UN-Input:before {
  content: "\e1";
}
.i-esp-E4-UN-Input:before {
  content: "\e4";
}
.i-esp-E9-UN-Input:before {
  content: "\e9";
}
.i-esp-ED-UN-Input:before {
  content: "\ed";
}
.i-esp-F3-UN-Input:before {
  content: "\f3";
}
.i-esp-F6-UN-Input:before {
  content: "\f6";
}
.i-esp-F7-UN-Input:before {
  content: "\f7";
}
.i-esp-FA-UN-Input:before {
  content: "\fa";
}
.i-esp-FC-UN-Input:before {
  content: "\fc";
}
.i-esp-FF3F-UN-Input:before {
  content: "\ff3f";
}
.i-esp-1D00-UN-Input:before {
  content: "\1d00";
}
.i-esp-1D04-UN-Input:before {
  content: "\1d04";
}
.i-esp-1D4D-UN-Input:before {
  content: "\1d4d";
}
.i-esp-1D5D4-UN-Input:before {
  content: "\1d5d4";
}
.i-esp-1D5D5-UN-Input:before {
  content: "\1d5d5";
}
.i-esp-1D5D6-UN-Input:before {
  content: "\1d5d6";
}
.i-esp-1D5D7-UN-Input:before {
  content: "\1d5d7";
}
